{% if category != 'Lectures' %}
    <span class="pub-authors">
        {{ item.authors }}
        {% if category == 'Media' %}
            {% if item.authors|length > 0 %} / {% endif %}
            {{item.media}}
        {% endif %}
    </span>
{% endif %}

<span class="pub-title">
    {% if category == 'Media' and item.links.url is defined %}
        <a href="{{item.links.url}}">{{item.title}}</a>
    {% else %}
        <a href="{{SITEURL}}{{item.href}}">{{item.title}}</a>
    {% endif %}
</span>

{% if category == 'Lectures' %}
    <span class="pub-year">{{item.date}}</span>
{% endif %}

{% include 'meta.html' with context %}
{% include 'links.html' with context %}
